// -----------------------------------------------------------------------------
// This file contains styles that are specific to the projects portfolio page.
// -----------------------------------------------------------------------------
.projectsList {
    .projectBG {
        background-size: cover;
        background-repeat: none;
        background-position: 20% 10%;
        background-repeat: no-repeat;
    }
    .singleProject {
        transition: all ease-in-out $time-short;
        &:hover {transform:scale(1.05)}
        > a {min-height: 400px;}
        h2 {
            font-size: 2.5rem;
            margin-bottom: 10px;
            font-weight: 300;
        }
        p {
            font-size: 1.25rem;
            margin-bottom: 5px;
            max-width: 500px;
            padding: 0 10%;
        }
        div > span {
            font-size: 1rem;
            text-transform: uppercase;
            margin-bottom: 10px;
            padding: 0 10%;

        }
        .evenProject {
            h2, p, span {
                color: $black;
            }
        }
        .oddProject {
            h2, p, span {
                color: $white;
            }
        }
    }
}