// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------





/// Regular font family
/// @type List
$text-font-stack: 'Alata', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;
$title-font-stack: 'Alata', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;





/// Copy text color
/// @type Color
$text-color: rgb(34, 34, 34) !default;

/// Main brand color
/// @type Color
$brand-color: rgb(229, 0, 80) !default;

/// Light grey
/// @type Color
$light-grey: rgb(237, 237, 237) !default;

/// Medium grey
/// @type Color
$mid-grey: rgb(153, 153, 153) !default;

/// Dark grey
/// @type Color
$dark-grey: rgb(68, 68, 68) !default;





/// Container's maximum width
/// @type Length
$max-width: 1180px !default;





/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;






/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;

///
/// Hughs defined variables

$menu-padding: 29px;
$black: #151515;
$black-hover: #555555;
$black-light: #2b2a2a;
$white: #F8F8FF;
$white-transparent: rgba(248, 248, 255, 0.5);
$white-semitransparent: rgba(248, 248, 255, 0.85);
$white-hover: #FFFFFF;
$gray: #C0C0C0;
$teal: #6fdfcf;
$teal-dark: #0F9682;
$break-phone: 480px;
$break-small: 768px;
$break-large: 1200px;
$font-paragraph-small: 16px;
$font-meta: 14px;
$time-short: 0.25s;
$time-medium: 0.5s;
$time-long: 1.75s;