// -----------------------------------------------------------------------------
// Main styles for the site
// -----------------------------------------------------------------------------
footer .site-info {
    @include page-width;
}
section, div, article, .formSection, label {
    cursor: url(/img/circlemaincursor.png), auto; 
}
a, button, button span {
    cursor: url(/img/circlehover.png), auto;
}
.videoHero, .heroVideo, .imageHero, .imageHero .heroImage {
    cursor: url(/img/downarrow_75.png), auto;
}
.contactModal, .contactModal .formSection .modalCloseIcon {
    cursor: url(/img/circleX_close.png), auto;
}
.barrier-full {
    border-bottom: 1px solid $white;
    margin-bottom: 20px;
    border-radius: 0 100% 0 0;
}
.barrier-left {
    @extend .barrier-full;
    width: 125px;
}
.barrier-center {
    @extend .barrier-left;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 100%;
}
.barrier-white {
    border-bottom: 1px solid $white !important;
}
#main {
    margin-top: 60px;
    display: grid;
    width: 100%;
    transition: all ease-in-out $time-long;
    grid-template-columns: 0% auto;
    // @media screen and (min-width: $break-large) {grid-template-columns: 400px auto;}
    .pageContent {
        overflow:hidden;
        section {
            position: relative;
            background-color: $white;
        }
    }
}
.flexColumns {
    display: flex;
    flex-direction: column;
}
.flexRows {
    @extend .flexColumns;
    flex-direction: row;
}
.twoColumns {
    display: grid;
    grid-template-columns: 50% 50%;
    @media screen and (max-width: $break-small) {
        grid-template-columns: 100%;
    }
}
.twoColumns.fullScreen {
    margin: 0;
}
.twoColumns-4-6 {
    display: grid;
    grid-template-columns: 40% 60%;
    @media screen and (max-width: $break-small) {
        grid-template-columns: 100%;
    }
}
.twoColumns-7-3 {
    display: grid;
    grid-template-columns: 70% 30%;
    @media screen and (max-width: $break-small) {
        grid-template-columns: 100%;
    }
}
.twoColumns-6-4 {
    display: grid;
    grid-template-columns: 60% 40%;
    @media screen and (max-width: $break-small) {
        grid-template-columns: 100%;
    }
}
.twoColumns-35-65 {
    display: grid;
    grid-template-columns: 35% 65%;
    @media screen and (max-width: $break-small) {
        grid-template-columns: 100%;
    }
}
.twoColumns-3-7 {
    display: grid;
    grid-template-columns: 30% 70%;
    @media screen and (max-width: $break-small) {
        grid-template-columns: 100%;
    }
}
.twoColumns > div {
    &:first-child {
        padding-right: 7%;
        @media screen and (max-width: $break-small) {
            padding-right: 0;
        }
    }
    &:last-child {
        padding-left: 7%; 
        @media screen and (max-width: $break-small) {
            padding-left: 0;
        }
    }
}
.fullScreen div {
    &:first-child {
        padding-right: 0;
    }
    &:last-child {
        padding-left: 0; 
    }
}
.threeColumns {
    display: grid;
    margin-bottom: 25px;
    grid-template-columns: 33.3% 33.3% 33.4%;
    // grid-gap: 20px;
    @media screen and (max-width: $break-large) {
        grid-template-columns: 50% 50%;
    }
    @media screen and (max-width: $break-small) {
        grid-template-columns: 100%;
    }
}
.twoRows {
    display: grid;
    grid-template-rows: 50% 50%;
}
.twoRows-6-4 {
    @extend .twoRows;
    grid-template-rows: 60% 40%;
    @media screen and (max-width: $break-small) {
        grid-template-rows: 100%;
    }
}
.fullRow {
    display: grid;
    grid-template-rows: 100%;
}
.twoRows-8-2 {
    @extend .twoRows-6-4;
    grid-template-rows: 80% 20%;
}
.threeRows {
    display: grid;
    grid-template-rows: 33.3% 33.3% 33.4%;
}
.fillContainer {
    height: 100%;
    width: 100%;
}
.height-1-2 {
    height: 50vh;
}
.height-2-3 {
    height: 66vh;
}
.height-1-3 {
    height: 33vh;
}
.height-2-5 {
    height: 40vh;
}
.leftAlign {text-align: left;}
.rightAlign {text-align: right;}
.contentSection {
    min-height: calc(100vh - 60px);
    padding-top: 80px;
    padding-bottom: 80px;
    h2 {
        margin-bottom: 50px;
    }
}
.hideOnMobile {display: none;}
.container {
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
}
.container-full {
    width: 90%;
    max-width: 90%; 
    margin-right: auto;
    margin-left: auto; 
}
  @media (min-width: $break-small) {
    .container {
      width: 90%;
    }
    .hideOnMobile {display: inherit;}
  }
//   @media (min-width: 992px) {
//     .container {
//       width: 970px;
//     }
//   }
  @media (min-width: $break-large) {
    .container {
      width: 1366px;
      max-width: 90%;
    }
  }
  ul {
    list-style: none;
    padding-left: 0;
  }
  #main {
    // margin-top: 75px;
    // margin-bottom: 25px;
    background-color: $white;
    .heroSection {
        min-height: 50vh;
        &.simpleHero {
            min-height: auto;
            h1 {
                font-size: 4rem;
            }
        }
    }
  }
  img {
      max-width: 100%;
  }
  .fullScreen {
      height: 100vh;
      width: 100%;
  } 
  .horiCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    place-content: center;
  }
  .perfectCenter {
    @extend .horiCenter;
    justify-content: center;
  }
  .gridCenter {
      display: grid;
    place-content: center;
  }
  .fromBottomCenter {
    @extend .horiCenter;
    justify-content: flex-end;
    padding-bottom: 5%;
  }
  .white {
      color: $white;
      &.textBorder {
        -webkit-text-stroke: 1px $white;
        text-shadow: 4px 2px $black;
      }
  }
  .textBorder {
    -webkit-text-stroke: 0px $black;
    text-shadow: 2px 2px $white;
  }
  .innerPage {
      h1, h2, h3, h4, h5, h6, a, p, span {
          color: $black;
      }
      .innerBody {
          padding: 50px 0;
          @media screen and (max-width: 980px){
              padding: 50px 5%;
          }
      }
  }
  .inlineList {
      display: inline-block;
  }